#header {
    color: #E9D8A6;
    background-color: #005F73;
}

h1 {
    color: #E9D8A6;
    text-decoration: underline;
}

a {
    color: #E9D8A6;
    font-size: 28px;
}

@media screen and (max-width: 767px) {
h1, a {
    font-size: 20px;
}
}

@media screen and (max-width: 610px) {
    h1, a {
        font-size: 16px
        }
}


@media screen and (max-width: 534px) {
    h1, a {
        font-size: 12px
        }
}

@media screen and (max-width: 453px) {
    h1, a {
        font-size: 10px
        }
}

@media screen and (max-width: 411px) {
    h1, a {
        font-size: 6px
        }
}